@charset "utf-8";

html {
  height: 100%;
}

header {
  height: 100px;
}

#head {
  text-align: right;
  margin: 10px;
}

#row {
  display: flex;
  font-size: 20px;
}

.sidemenu {
  flex: auto;
  text-align: right;
  margin: 10px;
}

.side {
  margin-top: 10px;
}

.category {
  display: block;
  margin: 0 0 0 auto;
  text-align: right;
}

.category-list {
  margin: 0 0 0 auto;
}

.main-block {
  display: flex;
  flex-flow: column wrap;
  width: 60%;
}


.post-content {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 1px #000000;
}

.favorited {
  color: red;
}

.favorited_comment {
  color: red;
}
