@charset "utf-8";

html {
  height: 100%;
}

header {
  height: 100px;
}

#head {
  text-align: right;
  margin: 10px;
}

#row {
  display: flex;
  font-size: 20px;
}

.sidemenu {
  flex: auto;
  text-align: left;
  margin: 0 5%;
}

.side {
  margin-top: 10px;
}

#category-block {
  margin: 10px 10px;
  text-align: left;
  display: table;
}

#category-list>ul>li {
  list-style-position: inside;
  display: table;
}

.main-block {
  display: flex;
  flex-flow: column wrap;
  width: 60%;
}

.post-content {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 1px #000000;
}

.favorited {
  color: red;
}

.favorited_comment {
  color: red;
}

.form-content {
  margin-bottom: 30px;
}

.form {
  width: 350px;
  height: 50px;
  margin: 10px;
}

.post-form {
  width: 350px;
  height: 200px;
  margin: 10px;
}

.comment-block {
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.comment-form {
  width: 400px;
  height: 100px;
  margin-top: 50px;
}
