@charset "utf-8";

html {
  height: 100%;
}

#btn {
  display: block;
  margin: 0 0 0 auto;
}

.submenu {
  display: block;
  margin: 0 0 0 auto;
  text-align: right;
}

.category {
  display: block;
  margin: 0 0 0 auto;
  text-align: right;
}
